
<p id="notice"><%= notice %></p>
	<div class="row">
		<div class="col-sm-3">
			<h1 class="page-title">Muestreos</h1>
		</div>
		<div class="col-sm-4">
			<%= link_to '<i class="entypo-user-add"></i>Agregar'.html_safe, new_sample_path, class: 'btn btn-default btn-icon' %>
		</div>
	</div>
		
		
		<script type="text/javascript">
			 jQuery( window ).load( function() {
			var $table2 = jQuery( "#table-2" );

			$table2.DataTable( {
				dom: 'Bfrtip',
				buttons: [
					'copyHtml5',
					'excelHtml5',
					'csvHtml5',
					'pdfHtml5'
				]
			} );
			});
		</script>
			
		<table class="table table-bordered table-striped datatable" id="table-2">
			<thead>
				<tr>
					<th>
						<div class="checkbox checkbox-replace">
							<input type="checkbox" id="chk-1">
						</div>
					</th>
					<th>ID del Muestreo</th>
					<th>Tipo de Muestreo</th>
					<th>AQL</th>
					<th>Fecha</th>
					<th>Lote</th>
					<th>Tipo Equipo</th>
					<th>Auditor</th>
					<th>Acciones</th>
				</tr>
			</thead>
			
			<tbody>
			    <% @samples.each do |sample| %>
			         <tr>
	 					<td>
	 						<div class="checkbox checkbox-replace">
	 							<input type="checkbox" id="chk-1">
	 						</div>
	 					</td>
					   <td><%= sample.id %></td>
			           <td><%= sample.sample_type %></td>
			           <td><%= sample.aql %></td>
					   <td><%= sample.sampledate %></td>
					   <td><%= sample.lot %></td>
					   <td><%= sample.equipment.equipment_type %></td>
					   <td><%= sample.auditor.name %></td>
   						<td>
							
							<%= link_to '<i class="entypo-pencil"></i>Editar'.html_safe, edit_sample_path(sample), 
								class: "btn btn-default btn-sm btn-icon icon-left"  %>
							
							<%= link_to '<i class="entypo-cancel"></i>Borrar'.html_safe, sample, 
								class: "btn btn-danger btn-sm btn-icon icon-left", 
								method: :delete, 
								data: { confirm: 'Are you sure?' } %>
																
							<%= link_to '<i class="entypo-info"></i>Ver Muestreo'.html_safe, sample, 
								class: "btn btn-info btn-sm btn-icon icon-left" %>
						

   						</td>
			         </tr>
			  <% end %>
			  
				<% if @samples.size== 0%>
					<em> No existen Muestreos</em>
				<% end %>
			</tbody>
		</table>
