<%= form_with(model: equipment, local: true) do |form| %>


  <div class="field">
    <%= form.label :equipment_type %>
    <%= form.text_area :equipment_type, id: :equipment_equipment_type %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_area :vendor, id: :equipment_vendor %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_area :service, id: :equipment_service %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
