<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @equipment.equipment_type %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @equipment.vendor %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @equipment.service %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
