<p id="notice"><%= notice %></p>

<div class="row">
		<div class="col-sm-3">
			<h1 class="page-title">Piezas Muestreadas</h1>
		</div>
		<div class="col-sm-4">
			<%= link_to '<i class="entypo-user-add"></i>Agregar'.html_safe, new_piece_path, class: 'btn btn-default btn-icon' %>
		</div>
	</div>

  <script type="text/javascript">
			 jQuery( window ).load( function() {
			  var $table2 = jQuery( "#pieces-table" );

			  $table2.DataTable( {
				dom: 'Bfrtip',
				buttons: [
					'copyHtml5',
					'excelHtml5',
					'csvHtml5',
					'pdfHtml5'
				]
			  } );
			  });
		</script>

<table class="table table-bordered table-striped datatable" id="pieces-table">
			<thead>
				<tr>
            <th>Serie</th>
            <th>CM Mac</th>
            <th>eMTA Mac</th>
            <th>Status</th>
            <th>Tipo de Falla</th>
            <th>Acciones</th>
				</tr>
			</thead>

    <tbody>
			    <% @pieces.each do |piece| %>
			         <tr>
					   <td><%= piece.serie %></td>
			       <td><%= piece.cmac %></td>
             <td><%= piece.emac %></td>
             <td><%= piece.status %></td>
             <td><%= piece.failure %></td>
   						<td>
							
							<%= link_to '<i class="entypo-pencil"></i>Editar'.html_safe, edit_piece_path(piece), 
								class: "btn btn-default btn-sm btn-icon icon-left"  %>
							
							<%= link_to '<i class="entypo-cancel"></i>Borrar'.html_safe, piece, 
								class: "btn btn-danger btn-sm btn-icon icon-left", 
								method: :delete, 
								data: { confirm: 'Are you sure?' } %>
																
							<%= link_to '<i class="entypo-info"></i>Ver'.html_safe, piece, 
								class: "btn btn-info btn-sm btn-icon icon-left" %>
						

   						</td>
			         </tr>
			  <% end %>
			  
				<% if @pieces.size== 0%>
					<em> No existen Piezas</em>
				<% end %>
			</tbody>
		</table>
