<p id="notice"><%= notice %></p>

	<h1 class="page-title">Perfil del Auditor</h1>	
	<div class="profile-env">
		
		<header class="row">
			
			<div class="col-sm-7">
				
				<ul class="profile-info-sections">
					<li>
						<div class="profile-name">
							<h2>
								<%= link_to @auditor.name %>
						
							</h2>
							<span><a href="#">Auditor</a></span>
						</div>
					</li>
					
					<li>
						<div class="profile-stat">
							<h2><%=@auditor_samples.count %></h2>
							<span><a href="#">Muestreos</a></span>
						</div>
					</li>
					
					<li>
						<div class="profile-stat">
							<h2>108</h2>
							<span><a href="#">ejemplo</a></span>
						</div>
					</li>
				</ul>
				
			</div>
			
			<div class="col-sm-3">
				<div class="profile-buttons">
					<%= link_to '<i class="e-icon-pencil"></i>Editar'.html_safe, edit_auditor_path(@auditor), class: 'btn btn-default' %>
					<%= link_to '<i class="entypo-home"></i>Lista Auditores'.html_safe, auditors_path, class: 'btn btn-blue'  %>
					
				</div>
			</div>

		</header>
		
		<section class="profile-info-tabs">
			
			<div class="row">
									
					<table class="table table-bordered">
									<thead>
										<tr>
											<th class="text-center">ID</th>
											<th width="20%">Tipo de Muestreo</th>
											<th>AQL</th>
											<th>Fecha</th>
											<th>Lote</th>
											<th>Tipo Equipo</th>
											<th>Piezas Muestreadas</th>
											<th>Piezas Rechazadas</th>
										</tr>
									</thead>
				
									<tbody>
						  			    <% @auditor_samples.each do |sample| %>
						  			         <tr>
						  					   <td class="text-center"><%= sample.id %></td>
						  			           <td><%= sample.sample_type %></td>
						  			           <td class="text-center"><%= sample.aql %></td>
						  					   <td><%= sample.sampledate %></td>
						  					   <td class="text-center"><%= sample.lot %></td>
						  					   <td><%= sample.equipment.equipment_type %></td>
											   <td>Total: <%= sample.pieces.count %></td>
											   <td>Rechazadas: <%= sample.pieces.rejected.count %></td>
						  			         </tr>
						  			  <% end %>
									</tbody>
								</table>
					
			</div>
			
		</section>
		
	</div>
